

<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Invitation Codes
    </p>
  </header>
  <div class="card-content">
    <div class="content">

      <p>
        Please note that generated invitation codes are valid for 30 days.
      </p>
      <br>
      <span>
        <button style="margin-bottom: 1.0rem;" class="button is-primary" (click)="this.generateCode()">Generate New Code</button>

        <p class="notification is-light is-success" *ngIf="this.successMsg?.length > 0">
          {{ successMsg }}
        </p>
        <p class="notification is-light is-danger" *ngIf="this.errorMsg?.length > 0">
          {{ errorMsg }}
        </p>
      </span>
      <br><br>
      <table class="table">

        <thead>
          <tr>
            <th><abbr title="Code">Code</abbr></th>
            <th><abbr title="Created on">Created</abbr></th>
            <th><abbr title="Expired on">Expires</abbr></th>
            <th><abbr title="Number of Uses">Uses</abbr></th>
            <th><abbr title="Options">Options</abbr></th>
          </tr>
        </thead>

        <tbody *ngIf="this.codes.length > 0">

          <tr *ngFor="let invCode of this.codes">
              <td>{{invCode.code}}</td>
              <td>{{invCode.timeCreated * 1000 | date}}</td>
              <td>{{invCode.timeExpires * 1000 | date}}</td>
              <td>{{invCode.uses}}</td>
              <td>
                <button class="button is-danger" (click)="this.revokeCode(invCode.code)">Revoke</button>
              </td>
          </tr>
        </tbody>

      </table>

    </div>
  </div>
</div>
