

<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Invitation Codes
    </p>
  </header>
  <div class="card-content">
    <div class="content">

      <p>
        Please note that generated invitation codes are valid for 30 days.
      </p>
      <br>
      <button class="button is-primary">Generate New Code</button>
      <br><br>
      <table class="table">

        <thead>
          <tr>
            <th><abbr title="Code">Code</abbr></th>
            <th><abbr title="Created on">Created</abbr></th>
            <th><abbr title="Expired on">Expires</abbr></th>
            <th><abbr title="Number of Uses">Uses</abbr></th>
            <th><abbr title="Options">Options</abbr></th>
          </tr>
        </thead>

        <tbody>

          <tr>
              <td>10001</td>
              <td>10-28-20 10:45AM</td>
              <td>11-27-20 10:45AM</td>
              <td>0</td>
              <td>
                <button class="button is-danger">Revoke</button>
              </td>
          </tr>
        </tbody>

      </table>

    </div>
  </div>
</div>
