


<aside class="menu">

  <div class="has-text-centered">
    <img src="../../assets/images/StockManagerLogoV1.png" width="100px" height="100px">
  </div>

  <hr>

  <p class="menu-label">
    Welcome, {{this.appData.user.firstName}}!
  </p>
  <p class="menu-label">
    {{this.appData.user.companyID}}
  </p>
  <p class="menu-label">
    {{this.appData.user.storeID}}
  </p>

  <hr>

  <p class="menu-label">
    Search
  </p>

  <ul class="menu-list">
    <li><a routerLink="search" routerLinkActive="is-active">Search</a></li>
  </ul>
  <br>

  <p class="menu-label" *ngIf="isAdmin()">
    Administrators
  </p>

  <ul class="menu-list" *ngIf="isAdmin()">
    <li><a routerLink="invite" routerLinkActive="is-active">Invite Codes</a></li>
    <li><a routerLink="tasks" routerLinkActive="is-active">Tasks</a></li>
  </ul>

  <hr>

  <button class="button is-danger {{this.loading ? 'is-loading':''}}" [disabled]="this.disabled" (click)="this.logout()">Log Out</button>

</aside>
